.modal-header{
    background: #10665f;
    color:white;
}
.btn-close{
    font-size: 1vw;
}
.add_btn{
    padding: 0;
    font-size: 1.2vw;
}
.modal-footer .publish{
    background: #10665f;
    color:white;
}