.navbar{
    background: #10665f;
    height:6vw;
}
.nav-input{
    background: #10665f;
    border-radius: 2px;
    height:3.5vw;
    width:7vw;
    color:black
}
.nav-input::placeholder{
    color:white;

}
.search_icon{
    background:transparent;
    color:#ffffff;
    font-size: 1.6vw;
   /* padding:.5vw 1vw 1vw 0; */
    height: 3.5vw;
}
.icon{
   padding-right: 1vw; 
}
.navbar .btn{
    height: 3.5vw;
    border-radius: 2px;
    color:#10665f;
    font-weight: bold;
}
