.navbar{
    background: #10665f;
    height:6vw;
}
.navbar .btn{
    height: 3.5vw;
    border-radius: 2px;
    color:#10665f;
    font-weight: bold;
}
@media screen and (max-width:768px) {
    .navbar{
        height:10vw;
    }
    .navbar .logo{
        display: none;
}

.navbar .btn{
    height: 5vw;
}
}
@media screen and (max-width:486px) {
    .navbar{
        height:10vw;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 716c50928b87943be5547309e46acab2970824f0
